$color-background: #151D26;
$color-background2: #18212B;

$color-primary: #00AAE1;
$color-secondary: #166484;

$color-negative: #F27A6D;

$color-text: #FFFFFF;
$color-text2: rgba(#fff, 64%);
$color-text3: #3B5069;
